In [17]:
import MySQLdb
from mysql_cred import mysql_user, mysql_passowrd, mysql_database
from pprint import pprint
import pandas as pd

mysql_ip = '158.85.198.80'
mysql_port = 3306

In [18]:
con = MySQLdb.connect(mysql_ip, mysql_user, mysql_passowrd, mysql_database, port = mysql_port)

In [26]:
def execute(query, printit = True):
    con = MySQLdb.connect(mysql_ip, mysql_user, mysql_passowrd, mysql_database, port = mysql_port)
    cursor = con.cursor()
    cursor.execute(query)
    result = cursor.fetchall()
    #pprint(result)
    df = pd.DataFrame.from_records(list(result))
    if printit:
        print df
    return df

In [28]:
df = execute("select * from rout_routeinfo limit 5;")
print df

   0                           1   2                                    3   \
0   1  2015-06-29 00:00:26.629730  35  Pittsburg/Bay Point - SFIA/Millbrae
1   2  2015-06-29 00:00:26.629730  35  Millbrae/SFIA - Pittsburg/Bay Point
2   3  2015-06-29 00:00:26.629730  35                   Fremont - Richmond
3   4  2015-06-29 00:00:26.629730  35                   Richmond - Fremont
4   5  2015-06-29 00:00:26.629730  35                  Fremont - Daly City

          4        5   6     7     8     9        10  11  12  \
0  PITT-SFIA  ROUTE 1   1  PITT  SFIA  None  #ffff33   1  26
1  SFIA-PITT  ROUTE 2   2  SFIA  PITT  None  #ffff33   1  26
2  FRMT-RICH  ROUTE 3   3  FRMT  RICH  None  #ff9933   1  18
3  RICH-FRMT  ROUTE 4   4  RICH  FRMT  None  #ff9933   1  18
4  FRMT-DALY  ROUTE 5   5  FRMT  DALY  None  #339933   0  19

                                                  13
0  PITT,NCON,CONC,PHIL,WCRK,LAFY,ORIN,ROCK,MCAR,1...
1  MLBR,SFIA,SBRN,SSAN,COLM,DALY,BALB,GLEN,24TH,1...
2  FRMT,UCTY,SHAY,HAYW,BAYF,SANL,COLS,FTVL,LAKE,1...
3  RICH,DELN,PLZA,NBRK,DBRK,ASHB,MCAR,19TH,12TH,L...
4  FRMT,UCTY,SHAY,HAYW,BAYF,SANL,COLS,FTVL,LAKE,W...

In [30]:
print execute("describe rout_routeinfo")

              0            1    2    3     4               5
0           uid   bigint(20)   NO  PRI  None  auto_increment
1     fetchtime  varchar(26)  YES       None
2     sched_num  smallint(6)  YES       None
3          name         text  YES       None
4          abbr   varchar(9)  YES       None
5       routeid   varchar(8)  YES       None
6        number   tinyint(4)  YES       None
7        origin   varchar(4)  YES       None
8   destination   varchar(4)  YES       None
9     direction   varchar(5)  YES       None
10        color   varchar(7)  YES       None
11     holidays   tinyint(4)  YES       None
12     num_stns   tinyint(4)  YES       None
13     stations         text  YES       None