In [43]:
import MySQLdb
from mysql_cred import mysql_user, mysql_passowrd, mysql_database
from pprint import pprint
import pandas as pd
import numpy as np

mysql_ip = '158.85.198.80'
mysql_port = 3306

In [2]:
con = MySQLdb.connect(mysql_ip, mysql_user, mysql_passowrd, mysql_database, port = mysql_port)

In [3]:
def exec_pd(query, printit = False):
    con = MySQLdb.connect(mysql_ip, mysql_user, mysql_passowrd, mysql_database, port = mysql_port)
    cursor = con.cursor()
    cursor.execute(query)
    result = cursor.fetchall()
    #pprint(result)
    df = pd.DataFrame.from_records(list(result))
    if printit:
        print df
    return df

def exec_list(query, printit = False):
    con = MySQLdb.connect(mysql_ip, mysql_user, mysql_passowrd, mysql_database, port = mysql_port)
    cursor = con.cursor()
    cursor.execute(query)
    result = cursor.fetchall()
    #pprint(result)
    df = list(result)
    if printit:
        print df
    return df

### rout_routeinfo and rout_routes

the information on routes does not change. i wrote unique values from this table to a textfile in order to avoid having to query the table later.

rout_routes contain exactly the same information is rout_routinfo.

routeinfo = exec_pd("select distinct sched_num, name, abbr, routeid, number, origin, destination, direction, color, holidays, num_stns, stations from rout_routeinfo;")
routeinfo.columns = ['sched_num', 'name', 'abbr', 'routeid', 'number', 'origin', 'destination', 'direction', 'color', 'holidays', 'num_stns', 'stations']
routeinfo.to_csv('routeinfo.txt', sep='\t', index = False)

In [62]:
routeinfo = pd.read_csv('routeinfo.txt', sep = '\t')
routeinfo

,sched_num,name,abbr,routeid,number,origin,destination,direction,color,holidays,num_stns,stations
0,35,Pittsburg/Bay Point - SFIA/Millbrae,PITT-SFIA,ROUTE 1,1,PITT,SFIA,NaN,#ffff33,1,26,"PITT,NCON,CONC,PHIL,WCRK,LAFY,ORIN,ROCK,MCAR,1..."
1,35,Millbrae/SFIA - Pittsburg/Bay Point,SFIA-PITT,ROUTE 2,2,SFIA,PITT,NaN,#ffff33,1,26,"MLBR,SFIA,SBRN,SSAN,COLM,DALY,BALB,GLEN,24TH,1..."
2,35,Fremont - Richmond,FRMT-RICH,ROUTE 3,3,FRMT,RICH,NaN,#ff9933,1,18,"FRMT,UCTY,SHAY,HAYW,BAYF,SANL,COLS,FTVL,LAKE,1..."
3,35,Richmond - Fremont,RICH-FRMT,ROUTE 4,4,RICH,FRMT,NaN,#ff9933,1,18,"RICH,DELN,PLZA,NBRK,DBRK,ASHB,MCAR,19TH,12TH,L..."
4,35,Fremont - Daly City,FRMT-DALY,ROUTE 5,5,FRMT,DALY,NaN,#339933,0,19,"FRMT,UCTY,SHAY,HAYW,BAYF,SANL,COLS,FTVL,LAKE,W..."
5,35,Daly City - Fremont,DALY-FRMT,ROUTE 6,6,DALY,FRMT,NaN,#339933,0,19,"DALY,BALB,GLEN,24TH,16TH,CIVC,POWL,MONT,EMBR,W..."
6,35,Richmond - Daly City/Millbrae,RICH-MLBR,ROUTE 7,7,RICH,MLBR,NaN,#ff0000,0,23,"RICH,DELN,PLZA,NBRK,DBRK,ASHB,MCAR,19TH,12TH,W..."
7,35,Millbrae/Daly City - Richmond,MLBR-RICH,ROUTE 8,8,MLBR,RICH,NaN,#ff0000,0,23,"MLBR,SBRN,SSAN,COLM,DALY,BALB,GLEN,24TH,16TH,C..."
8,35,Dublin/Pleasanton - Daly City,DUBL-DALY,ROUTE 11,11,DUBL,DALY,NaN,#0099cc,1,17,"DUBL,WDUB,CAST,BAYF,SANL,COLS,FTVL,LAKE,WOAK,E..."
9,35,Daly City - Dublin/Pleasanton,DALY-DUBL,ROUTE 12,12,DALY,DUBL,NaN,#0099cc,1,17,"DALY,BALB,GLEN,24TH,16TH,CIVC,POWL,MONT,EMBR,W..."
10,35,Coliseum - Oakland Int'l Airport,COLS-OAKL,ROUTE 19,19,COLS,OAKL,north,#d5cfa3,1,2,"COLS,OAKL"
11,35,Oakland Int'l Airport - Coliseum,OAKL-COLS,ROUTE 20,20,OAKL,COLS,south,#d5cfa3,1,2,"OAKL,COLS"

###list of routes and stations

In [63]:
routes = routeinfo.number.values
routes

array([ 1,  2,  3,  4,  5,  6,  7,  8, 11, 12, 19, 20])

In [64]:
st = routeinfo.stations.values
stations = []
for s in st:
    if len(s) > 0:
        stations += (s.split(','))

stations = list(set(stations))
stations = np.asarray(stations)
stations

array(['SHAY', 'FTVL', 'NCON', 'COLS', 'WCRK', 'WOAK', 'CONC', 'CAST',
       'ORIN', 'SFIA', 'WDUB', 'DALY', 'EMBR', 'CIVC', 'SBRN', 'HAYW',
       'LAFY', 'DBRK', '12TH', 'PHIL', 'PITT', 'NBRK', 'MONT', 'POWL',
       'ROCK', 'SANL', '16TH', 'FRMT', 'BALB', 'DELN', 'MCAR', 'DUBL',
       '24TH', 'PLZA', 'MLBR', 'GLEN', 'BAYF', 'LAKE', 'ASHB', 'UCTY',
       '19TH', 'COLM', 'RICH', 'SSAN', 'OAKL'],
      dtype='|S4')

In [65]:
exec_pd('describe sched_special')

                  0            1    2    3     4               5
0               uid   bigint(20)   NO  PRI  None  auto_increment
1         fetchtime  varchar(26)  YES       None
2        start_date  varchar(10)  YES       None
3          end_date  varchar(10)  YES       None
4        start_time   varchar(5)  YES       None
5          end_time   varchar(5)  YES       None
6             text_         text  YES       None
7              link         text  YES       None
8              orig   varchar(4)  YES       None
9              dest   varchar(4)  YES       None
10      day_of_week  varchar(20)  YES       None
11  routes_affected         text  YES       None

In [75]:
exec_pd('select min(fetchtime) as min_fetchtime, start_date, start_time, \
        end_date, end_time, text_, orig, dest, day_of_week, routes_affected \
        from sched_special group by start_date, start_time, end_date, end_time, \
        text_, orig, dest, day_of_week, routes_affected order by min_fetchtime')

,0,1,2,3,4,5,6,7,8,9
0,2015-06-04 01:43:04.919920,07/05/2015,06:00,07/05/2015,15:00,Delays on Pittsburg/Bay Point line,None,None,0,"ROUTE 1, ROUTE 2"
1,2015-06-04 01:43:04.919920,07/12/2015,00:01,07/12/2015,12:00,Bus bridge between Fruitvale and Coliseum,None,None,None,"ROUTE 1, ROUTE 2, ROUTE 3, ROUTE 4, ROUTE 5, R..."
2,2015-06-04 01:43:04.919920,07/11/2015,00:01,07/11/2015,23:59,Bus bridge between Fruitvale and Coliseum,None,None,None,"ROUTE 1, ROUTE 2, ROUTE 3, ROUTE 4, ROUTE 5, R..."
3,2015-06-04 01:43:04.919920,12/09/2014,23:00,12/31/2015,04:00,AC Transit is running enhanced late night bus ...,None,None,"0, 1, 2, 3, 4, 5, 6","ROUTE 1, ROUTE 2, ROUTE 3, ROUTE 4, ROUTE 5, R..."
4,2015-06-04 01:43:04.919920,06/21/2015,06:00,06/21/2015,15:00,Delays on Pittsburg/Bay Point line,None,None,0,"ROUTE 1, ROUTE 2"
5,2015-06-04 01:43:04.919920,06/20/2015,06:00,06/20/2015,15:00,Delays on Pittsburg/Bay Point line,None,None,6,"ROUTE 1, ROUTE 2"
6,2015-06-04 01:43:04.919920,06/14/2015,00:01,06/14/2015,23:59,Bus bridge between Fruitvale and Coliseum,None,None,None,"ROUTE 1, ROUTE 2, ROUTE 3, ROUTE 4, ROUTE 5, R..."
7,2015-06-04 01:43:04.919920,06/07/2015,00:01,06/07/2015,12:00,Bus bridge between Fruitvale and Coliseum Station,None,None,None,"ROUTE 1, ROUTE 2, ROUTE 3, ROUTE 4, ROUTE 5, R..."
8,2015-06-04 01:43:04.919920,06/06/2015,00:01,06/06/2015,23:59,Bus bridge between Fruitvale and Coliseum Station,None,None,None,"ROUTE 1, ROUTE 2, ROUTE 3, ROUTE 4, ROUTE 5, R..."
9,2015-06-04 01:43:04.919920,06/13/2015,00:01,06/13/2015,23:59,Bus bridge between Fruitvale and Coliseum,None,None,None,"ROUTE 1, ROUTE 2, ROUTE 3, ROUTE 4, ROUTE 5, R..."
10,2015-06-17 11:00:25.086827,06/21/2015,20:00,07/30/2015,04:00,Expect delays between Fremont and Hayward.,None,None,"0, 1, 2, 3, 4","ROUTE 3, ROUTE 4, ROUTE 5, ROUTE 6"
11,2015-06-17 11:00:25.086827,07/25/2015,04:00,07/26/2015,23:00,Expect delays between Fremont and Hayward.,None,None,None,"ROUTE 3, ROUTE 4, ROUTE 5, ROUTE 6"
12,2015-06-17 11:00:25.086827,06/20/2015,04:00,06/21/2015,23:00,Expect delays between Fremont and Hayward.,None,None,None,"ROUTE 3, ROUTE 4, ROUTE 5, ROUTE 6"
13,2015-06-26 16:00:34.523112,09/06/2015,06:00,09/06/2015,00:01,No train service between SF &amp; East Bay 9/5-7,None,None,None,"ROUTE 1, ROUTE 2, ROUTE 3, ROUTE 4, ROUTE 5, R..."
14,2015-06-26 16:00:34.523112,09/05/2015,06:00,09/05/2015,00:01,No train service between SF &amp; East Bay 9/5-7,None,None,None,"ROUTE 1, ROUTE 2, ROUTE 3, ROUTE 4, ROUTE 5, R..."
15,2015-06-26 16:00:34.523112,08/02/2015,06:00,08/03/2015,03:00,No train service between SF &amp; East Bay 8/1...,None,None,None,"ROUTE 1, ROUTE 2, ROUTE 3, ROUTE 4, ROUTE 5, R..."
16,2015-06-26 16:00:34.523112,08/01/2015,06:00,08/01/2015,00:01,No train service between SF &amp; East Bay 8/1...,None,None,None,"ROUTE 1, ROUTE 2, ROUTE 3, ROUTE 4, ROUTE 5, R..."
17,2015-06-26 17:00:36.946642,09/07/2015,00:02,09/08/2015,03:00,No train service between SF &amp; East Bay 9/5-7,None,None,None,"ROUTE 1, ROUTE 2, ROUTE 3, ROUTE 4, ROUTE 5, R..."